<app-navbar></app-navbar>
<!-- bg-[url('assets/images/bg/1.jpg')] bg-center bg-cover -->
<section class="py-36 lg:py-64 w-full table relative" id="home">
    <div class="absolute inset-0 bg-black opacity-90"></div>
    <div class="container relative">
        <div class="grid grid-cols-1 mt-12">
            <h4 class="text-white text-center lg:text-5xl text-4xl lg:leading-normal leading-normal font-medium mb-7 position-relative">
                Brief History
            </h4>
            <p class="text-white opacity-70 mx-auto lg:text-xl lg:leading-loose leading-normal font-medium mb-5 position-relative">
                The Church of God (Seventh Day) grew from the efforts of dedicated followers of Christ living in western
                Michigan in 1858. Joined by a church in Marion, Iowa, in 1863, the influence of the Church of God
                (Seventh Day) began to expand into the eastern and central United States, due in large part to The Hope
                of Israel. This publication created interest in the Church’s distinct doctrines : the authority of the
                Bible alone for Christian faith and practice, the second advent of Christ, and observance of the
                seventh-day Sabbath. <br> <br>

                Unified around these unique doctrines, the General Conference of the Church of God (Seventh Day) was
                officially organized in 1884 and incorporated in Missouri in 1899. Its offices were located in
                Stanberry, Missouri, until 1950, when they were moved to Denver, Colorado. <br> <br>

                Over the years, The Hope of Israel moved from Michigan to Iowa, then to Missouri, and eventually to
                Colorado. After several name changes, it is now known as the Bible Advocate. After more than 150 years,
                this flagship publication of the Church continues today. It also appears online at <a href="https://baonline.org/" target="_blank"><b class="text-rose-600">baonline.org</b></a>.
            </p>
        </div>
    </div>
</section>


<app-services></app-services>
<app-contactus></app-contactus>
<app-footer></app-footer>
<app-switcher></app-switcher>